.button {
  width: 200px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  //google button
  &.google-blue {
    background-color: #4c8bf5;
    color: white;
    &:hover {
      background-color: #2c68ca;
      border-color: transparent;
    }
  }

  //inverted type button
  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
      background-color: black;
      color: white;
      border: 1px solid transparent;
    }
  }
}
